
$farbegerade:  rgba(194, 211, 215, 0);
$farbeungerade: rgba(196, 196, 196, 0.1);
$farbehintergrund:   rgba(196, 196, 196, 0.1);
$farbegeradeschrift: white;
$farbeungeradeschrift: white;
$lanecolor: rgb(152, 0, 23);

$farbeschrift: white;

$farbehintergrund: rgb(27, 50, 179);

$lanesize: 1.3em; 
$smallsize: 0.6em;
$normalsize: 1em;
$topsize: 1.4em;

$laneheight: 50px;

//linear-gradient(45deg, #4cd45a 20%, #FF8E53 70%);

// the <table> css


  // video

  .videotable-variable {
    background-color: black;
    border-spacing: 0;
    border-spacing: 0;
    background-color: black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
}