
$farbegerade:  rgba(194, 211, 215, 0);
$farbeungerade: rgba(196, 196, 196, 0.1);
$farbehintergrund:   rgba(196, 196, 196, 0.1);
$farbegeradeschrift: white;
$farbeungeradeschrift: white;
$lanecolor: rgb(152, 0, 23);

//linear-gradient(45deg, #4cd45a 20%, #FF8E53 70%);

.headername {
    color: white;
    text-align: left;
}

.heatheader {
    text-align: left;
    color: $farbegeradeschrift;
}

.heatheader_event {
    color: $farbegeradeschrift;
}

.heatheader_heat {
    color: $farbegeradeschrift;
}

.heatheader_time {
    color: $farbegeradeschrift;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.heatbackground {
    font-size: 1em;

}

.lane {
    color: $farbegeradeschrift;
}

.laneeven {
    background: $farbegerade;
}

.laneodd {
    background: $farbeungerade;
}

.laneclub {
    font-size: 0.7em;
}

.lanetime {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

