
$farbegerade:  rgba(194, 211, 215, 0);
$farbeungerade: rgba(196, 196, 196, 0.1);
$farbehintergrund:   rgba(196, 196, 196, 0.1);
$farbegeradeschrift: white;
$farbeungeradeschrift: white;
$lanecolor: rgb(152, 0, 23);

$laneborder: rgb(87, 179, 228);

$farbeschrift: white;

$farbehintergrund: rgb(27, 50, 179);

$lanesize: 2em; 
$smallsize: 0.6em;
$normalsize: 1em;
$topsize: 1.4em;


//linear-gradient(45deg, #4cd45a 20%, #FF8E53 70%);

// the <table> css

.statictable {
    border-spacing: 0;
    width: 512px;
    height: 384px;
    background-color: $farbehintergrund;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.staticmaintable {
    border-spacing: 0;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    //width: 512px;
    // height: 284px;
    //background-color: $farbehintergrund
}

.staticheadertable{
    border-spacing: 0;
    width: 100%;
    //width: 512px;
    //height: 30px;
    //background-color: $farbehintergrund
}

.staticemptytable {
    border-spacing: 0;
    width: 512px;
    //height: 384px;
    border: 2px solid black;
}

.internaltable{
    border-spacing: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.staticfooter{
    font-size: 0.5em;
    border-spacing: 0;
    text-align: right;
    font-weight: bold;
    color: $farbeschrift;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
//header

.staticeventname{
    color: $farbeschrift;
    text-align: center;
    font-size: 1.1em;
    //font-size: $normalsize;
}

.staticheatevent{
    color: $farbeschrift;
    font-size: 1.2em;
    //1.2
    font-weight: bold;
}

.staticheader_time{
    color: $farbeschrift;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

///////// heat 


.staticlaneeven {
    color: $farbegeradeschrift;
    background: $farbegerade;
    font-size: $lanesize;
    padding-right: 0px;
    background-color: $farbehintergrund;
 }

 .staticbox {
    color: $laneborder;
 }

 .logo {
     font-size: 0.8em;
 }

.staticlaneodd {
    color: $farbeungeradeschrift;
    background: $farbeungerade;
    font-size: $lanesize;
    padding-right: 0px;
}

.staticlane_time{
    color: $farbeschrift;
    font-size: $lanesize;
    align-items: right;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.startstaticlane_time{
    color: $farbeschrift;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.staticemptylane {
    font-size: $smallsize;
}

.staticclub {
    font-size: $smallsize;
}

.staticname {
    font-size: $normalsize;
}

.staticplace {
    font-size: $lanesize;
    width: 49px;
    text-align: center;
}

.startstaticlaneeven {
    color: $farbegeradeschrift;
    background: $farbegerade;
    font-size: $lanesize;
}

.startstaticlaneodd {
    color: $farbeungeradeschrift;
    background: $farbeungerade;
    font-size: $lanesize;
}

.staticheadername {
    color: $farbeschrift;
    text-align: left;
}

.staticheatheader {
    color: $farbeschrift;
    text-align: left;
    font-size: $smallsize;
    text-align: center;
}

.staticheatbackground {
    color: $farbeschrift;
    font-size: $normalsize;
    
}

.staticheatheader_time {
    color: $farbeschrift;
    font-size: $smallsize;
    text-align: center;
}

//message
.staticmessagetable{
    border-spacing: 0;
    width: 512px;
    height: 334px;
    background-color: $farbehintergrund
}

.staticmessagetable_header{
    border-spacing: 0;
    width: 512px;
    height: 50px;
    background-color: $farbehintergrund
}

.staticmessagetext_main{
    color: $farbeschrift;
    text-align: center;
    font-size: 1.5em;
}

.staticmessagetext_header{
    color: $farbeschrift;
    text-align: center;
    font-size: 1.2em;
}


//@at-root
.message_clock {
    color: $farbeschrift;
    text-align: center;
    font-size: 1.2em;

    .react-clock {

        &__face {
            border-color: $farbeschrift;  
          }

        &__mark {
            &__body {
                background-color: $farbeschrift;
              }
          }
        
        &__minute-mark {
            background-color: $farbeschrift;
        }

        &__hand {
          &__body {
            background-color: $farbeschrift;
          }

        }
        &__hour-hand {
          &__body {
              background-color: $farbeschrift;
          }

        }
    }

}

//

@keyframes ticker {
    20% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }

.ticker-move {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    //padding-right: px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 6s;
  }

  .ticker-item{
    display: inline-block;
    padding: 0 4px;
  }

  // video

  .videotable {
    border-spacing: 0;
    width: 512px;
    height: 384px;
    border-spacing: 0;
    background-color: black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
}